.card img{
    height:180px;
    width:286px;
    /* position:fixed; */
    padding:7px;
    border-radius: 15px;
}
.button{
    /* background-color: #f44336; */
    background-color: #f7345e;
    padding: 8px;
    border-radius: 8px;
    color:white;
    width:130px;
    border:lightgrey;
}
/* .card{
    overflow: hidden;
} */
.image-card:hover{
    background-color: pink;
  
        /* transform:scale(1.5);
        transition:transform 2s ease-in ;
        overflow: hidden; */
        
    
}
.backs{
    background-color: #1f2833;
    padding:15px;
}
