.allow{
    background-color:rgb(66, 78, 78);
    color:white;
}

.but{
    /* text-decoration: none; */
    background-image: linear-gradient(rgb(216, 153, 126),#ad433c);
    color:white;
    /* background-color:darkseagreen; */
    /* background-color:brown; */
    margin-left: 30px;
    font-weight: 700;
    font-size:19px;
    padding:10px 15px;
    border-radius: 10px;
    border: 2px solid white;
}

.ment{
    color:brown;
}